:root {
    --height-header: 25vh;
    --height-footer: 10vh;
}

html, body {
    font-size: 10px;
    color: var(--color-black);
    background-color: var(--color-white-gray);
}

html, body, h1, h2 {
    margin: 0;   
}

header {
    min-height: var(--height-header);
}

header div {
    background-color: var(--color-black);
    color: var(--color-white-gray);
    min-height: 20vh;
    padding-top: 15px;
    padding-bottom: 15px;
    
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;

    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

nav {
    background-color: var(--color-black);
    overflow: hidden;
    text-transform: uppercase;
    border-bottom: 2px solid var(--color-dark-purple);
}

nav a {
    float: left;
    display: block;
    color: var(--color-white-gray);
    text-align: center;
    padding: 1.4rem 1.6rem;
    text-decoration: none;
    font-size: 1.5rem;
}

nav a:hover {
    background-color: var(--color-dark-purple);
    cursor: pointer;
}

nav a.active {
    background-color: var(--color-primary);
    font-weight: bold;
    cursor: default;
}

main {
    min-height: calc(100vh - var(--height-header) - var(--height-footer));
}

.wrapper {
    box-sizing: border-box;
    width: 90%;
    margin: 5vh auto;
}

footer {
    min-height: var(--height-footer);
    bottom: 0;
    right: 0;
    left: 0;
    
    border-top: 0.3rem solid var(--color-dark-purple);
    color: var(--color-white-gray);
    background-color: var(--color-black);
    padding-top: 3%;
    padding-bottom: 3%;
    
    text-align: center;
    font-size: 1.6rem;
    font-style: italic;    
}

footer i {
    font-size: 2.5rem;
    color: var(--color-white-gray);
}

.codigo {
    background-color: #474C50;
    color: white;
    font-family: monospace;
    padding: 15px;
}

.exerciseNumber {
    height: 10vh;
    background-color: var(--color-primary);
    font-size: 1.8rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.grade {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 5vh;
    margin-bottom: 5vh;
    font-size: 1.6rem;
}

.coluna {
    margin-left: 5%;
    margin-right: 5%;
}

.row {
    margin: 5%;
    font-size: 1.6rem;
}

.text-center {
    text-align: center;
}

.panel {
    border: 1px solid var(--color-dark-purple);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 2vh;
    font-size: 1.6rem;
}

.panel-heading {
    font-style: italic;
    border-bottom: 2.5px dotted var(--color-black);
}

.panel-footer {
    border-top: 2px dotted var(--color-black);
    padding-top: 20px;
    text-align: center;
    font-size: 1.4rem;
}

.panel-footer > a {
    padding: 10px;
    border: 2px solid var(--color-dark-purple);
    border-radius: 8px;
    background-color: var(--color-primary);
    color: var(--color-white-gray);
    
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
}

.panel-heading > h1 > .icon {
    color: var(--color-primary);
}

.fa-html5{
    color: #f06529;
}
.fa-css3-alt {
    color: #1e90ff;
}

.fa-font-awesome {
    color: #339af0;
}

.square {
    width: 100px;
    height: 100px;
    background-color: var(--color-red);
}

.error {
    color: var(--color-red) !important;
}

@media (max-width: 700px){
    html, body {
        font-size: 8px;
    }
    
    nav a {
        width: 100%;
        border: 1px solid var(--color-primary);
    }
    
    .grade {
        grid-template-columns: 100% 
    }
}
